[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
UserSettings/
MemoryCaptures/

# Unity files
*.pidb
*.booproj
*.svd
*.pdb

# OS
.DS_Store
Thumbs.db

# Unity Version Control (Plastic)
.plastic/
*.plastic*